@import '../styles/variables';

.movies-list {
  margin: 60px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie-item {
  max-width: 200px;
  margin: {
    bottom: 15px;
  };
  &_image {
    max-width: 200px;
  }
  &_info {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
  }
  &_title {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: $black;
  }
  &_release-date {
    height: 20px;
    padding: 0 10px;
    margin: {
      left: 10px;
    }
    font-size: .75rem;
    border: 1px solid $gray;
  }
  &_genre {
    font-size: .75rem;
  }
}
