@import '../../styles/variables';

.header {
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-image: url("../../static/images/netflix-bg.png");
  padding: 40px;
  color: white;
  .common_title {
    padding: {
      top: 0;
      bottom: 0;
    };
    background-color: transparent;
  }
}
